@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

@keyframes loadingAnimation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.loading-spinner {
  border: 6px solid transparent;
  border-top: 6px solid #ff3600;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: loadingAnimation 1.5s linear infinite;
}

::-webkit-scrollbar {
  width: 8px;
  padding: 0;
}

::-webkit-scrollbar-thumb:hover {
  background: black;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #ff3600;
  border-radius: 5px;
}

#hero{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
}

.navbar {
  background-color: transparent;
  display: flex;
  align-items: space-between;
  justify-content: center;
}

.navbar-brand {
  width: 15%;
  text-align: center;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  text-align: center;
}

.navbar-contact {
  width: 25%;
  text-align: center;
}

.superscript {
  vertical-align: super;
  font-size: 75px;
  margin-left: 12px;
}

.superscript-mobile {
  vertical-align: super;
  font-size: 24px;
}

#customNavToggle {
  cursor: pointer; /* Add a pointer cursor to indicate it's clickable */
}

#customNavToggle {
  background-color: transparent;
  border: transparent;
}

.nav-link {
  margin-right: 35px;
}

.nav-link:hover {
  color: #ff3600 !important;
}


@media (max-width: 990px) {
  body {
    padding: 0;
    overflow-x: hidden;
  }

  .navbar {
    flex-direction: row; /* Ensure flex direction is row for mobile layout */
    justify-content: space-between; /* Distribute items to the edges */
    align-items: center;
  }

  .navbar-brand {
    order: -1; /* Move the logo to the beginning */
    margin-right: auto; /* Push the logo to the left */
  }

  .navbar-toggler {
    margin-left: auto; /* Push the toggle icon to the right */
  }

  .navbar-nav {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
  }

  .navbar-contact-mobile {
    display: flex;
    align-items: flex-start;
  }

  .custom-card {
    background-color: transparent;
    border: 1px solid transparent;
    box-shadow: transparent;
    padding: 36px 24px;
  }
  
  .custom-card .white-links {
    background-color: white;
    color: white;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: flex-start;
  }

  .custom-card .black-links {
    background-color: black;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: flex-start;
  }

  .custom-card .black-links .nav-link {
    color: #ff3600 !important;
    padding-left: 25px;
    font-weight: bold;
    font-size: 2em;
  }

  .custom-card .white-links .nav-link {
    color: black !important;
    padding-left: 25px;
    font-weight: bold;
    font-size: 2em;
  }

  .custom-card .navbar-contact .nav-link {
    color: #ff3600 !important;
    padding-left: 25px;
    font-weight: bold;
    font-size: 2em;
  }
  
}

.metadata {
    display: flex;
    align-items: center;
}

.metadata ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.metadata ul p {
    margin: 0;
    padding: 10px;
    border-right: 1px solid #000; /* Vertical line */
    cursor: pointer;
}

.metadata ul p:last-child {
    border-right: none; /* Remove vertical line from the last item */
}

.footer-links .col a {
  color: black;
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
}

.footer-links .col a:hover {
  color: #ff3600;
}

.footer-links-mobile .row a {
  color: black;
  font-size: 10px;
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
}

.footer-links-mobile .row a:hover {
  color: #ff3600;
}

.with-border {
  border: 1px solid #000;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.with-border-mobile {
  border: 1px solid #000;
  display: flex;
  flex-direction: row;
  place-items: center;
}

.footer-heading {
  padding: 24px; 
  border-bottom: 1px solid #000; 
  display: flex;
  justify-content: flex-start;
}

.footer-heading .col h1 {
  font-weight: bold;
  font-size: 28px;  
}

.footer-icons {
  padding: 6px;
  place-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.footer {
  margin: 100px 0px 10px;
}

.footer-logo {
  display: flex;
  justify-content: flex-start;
}
